.allDoctorsPage {
  padding: 40px;
  font-family: 'Segoe UI', sans-serif;
  background-color: transparent; /* حذف الخلفية */
}

.content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.filter-section {
  width: 220px;
  min-width: 220px;
  flex-shrink: 0;
  margin-top: 10px; /* رفع القسم الشمالي لفوق */
}

.allDoctors {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 640px) {
  .allDoctors {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .allDoctors {
    grid-template-columns: repeat(4, 1fr);
  }
}

.allDoctors .card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.action {
  font-size: 16px;
  font-weight: 500;
  color: #7d879c;
  margin-bottom: 10px;
}

.specialties-list {
  font-size: 15px;
  color: #7d879c;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 20px;
}
